DB_USER = "myuser"
DB_PASSWORD = "mysupersecurepassword"
DB_NAME = "erasmus_projekt"
DB_HOST = "localhost"
DB_CREATE_TABLES_FILE = "./04_logisches_modell/create_db.sql"
DB_FILL_TABLES_FILE = "./utils/fill_db.sql"